body {
    margin: 0;
    background-color: rgb(31, 31, 31);
}

.main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hero {
    padding: 50px;
    color: white;
    text-shadow: 0px 0px 3px white;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-button {
    height: 60px;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    margin-top: 130px;
    border-radius: 100px;
    z-index: 1;
    position: fixed;
    background-color: white;
    border-width: 5px;
    background-color: rgb(68, 68, 68);
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    color: rgb(178, 207, 231);
    box-shadow: 0 5px 10px black;
    text-shadow: 0 0 1px white;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgb(0, 97, 177), rgb(32, 179, 130));

}

table {
    margin: 50px auto;
    text-align: center;
    width: 60%;
    table-layout: fixed;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 100;
    font-size: 16px;
}

tr {
    border-bottom: solid thin rgba(255, 255, 255, 0.2);
    text-align: center;
}

thead tr {
    border-bottom: solid thick rgb(32, 179, 130);
    color: white;
}

td {
    padding: 20px;  
    margin: 0 auto;
  }
  
.modal-active {
    display: none;
    background-color: aquamarine;
    z-index: 1;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: scale(1%);
    transition: all 0.5s;
}

.active {
    display: block;
    transform: scale(100%);
}

.form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.delete-btn, .read-btn {
    border: 3px solid rgba(255, 0, 0, 0.61);
    width: 45px;
    height: 36px;
    margin: 0 auto;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    cursor: pointer;
}

.read-btn.read {
    color: rgba(172, 255, 47, 0.795);
    border-color: rgba(172, 255, 47, 0.795);
    font-size: 28px;
}

.read-btn.unread {
    color: rgba(255, 0, 0, 0.61);
}